<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
  </body>
  <%- include('./partials/script') %>
</html>
